<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>NSCameraUsageDescription</key>
    <string>$(PRODUCT_NAME) ocupa tu cámara de fotos solo para escanear un codigo qr del certificado que se obtiene al terminar un curso, al leerlo lo redireccinora a la plataforma web con la información del certificado del curso</string>
</dict>
</plist>
